<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>JfzGbbUhfFdnDpHIbWAXWIpuwgASK8i7YS7V6gpO8gr0dLYVFa43ETn2sArBALItHzfe0lIj/PW/ZWPvBgF2r0X/nYnb0y/Uxb/eyFiQ5iUuEWrFKhkBZQAPK/uugG4k5SCFWt3Mtz10arTi6xm5rZbKtTBw6pnnE8ZDp+flNvY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>yyzQ/x0AbBmWkgo3VuT1dOVS4lOwtk74fbuDYiqRHwpX61VZKejnMY3wfF14bKzQxorhE8o/vn3gEG3VPhedOjf6WB2fy+3vxNpKWlplZhKOeDb3eX6L/YicZPyI9FHfVXHD2mni95gJ0WlgAdeBV08z0XOhHaACfB9allnu04gejp3aZNtvoUGohc6cIXU66BGQFtI5MyLNPm8ielTBL98oXMCCTJr/GrwfPNzyOCU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>