
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-unit">
    <h1>Hello!</h1>
    <p>
        Welcome to Prospector. Use the menu at the top to get started.
    </p>
</div>