
@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Transactions</h3>
<div class="notification">
    @ViewBag.Message
</div>
<div class="columnContainer">
    <div class="leftColumn">
        Test
    </div>
    <div class="rightColumn">
        Test
    </div>
</div>